In [30]:
def f(x, y, z):
    return (x+y)/z
a = 5
b = 6
c = 7.5

In [31]:
result = f(a, b, c)

In [32]:
print(result)

1.4666666666666666

In [33]:
def add_numbers(a, b):
    return a + b

In [34]:
add_numbers(2, 3)

5

In [44]:
def my_details(name, age, degree, institution):
    print("My Name is {}, I'm {} years old and a graduate in {}, from the {}.".format(name, str(age, degree, institution))
    print("It's nice meeting you.")

SyntaxError: invalid syntax (3198338881.py, line 3)

In [45]:
me = my_details("Bashidoshi", 25, "Genetics and Biotechnology", "University of Calabar"  )
print(me)

My Name is Bashidoshi, I'm 25 years old and a graduate in Genetics and Biotechnology, from the University of Calabar.
It's nice meeting you.
None

In [46]:
def my_biodata(name, dob, place_of_birth):
    print("My Name is {}, I was born in {} at {}, so I'm {} years old.".format(name, str(dob), place_of_birth, 2022-dob))
    print("Its nice meeting you.")
    return 2022-dob

In [47]:
my_biodata('Bashidoshi', 1997, 'Kano')

My Name is Bashidoshi, I was born in 1997 at Kano, so I'm 25 years old.
Its nice meeting you.

25

In [48]:
mySelf = my_biodata('Bashidoshi', 1997, 'Kano')

My Name is Bashidoshi, I was born in 1997 at Kano, so I'm 25 years old.
Its nice meeting you.

In [49]:
import numpy as np

In [50]:
a = np.random.randn(100, 100)

In [51]:
%timeit np.dot(a, a)

190 µs ± 6.01 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [61]:
def product_numbers(x, y):
    return x*y

In [62]:
product_numbers(2, 3)

6

In [54]:
def quotient_numbers(m, n):
    if n==0:
        print("Cannot divide")
    else:
        return m/n

In [55]:
quotient_numbers(7, 0)

Cannot divide

In [56]:
quotient_numbers(8, 2)

4.0

In [57]:
def difference_numbers(a, b):
    return a-b

In [58]:
difference_numbers(7, 5)

2

In [70]:
def main():
    add_numbers(a, b)
    product_numbers(x, y)
    quotient_numbers(m, n)
    difference_numbers(a, b)

In [71]:
x=2
y=3
def sum(x, y):
    return x+y

In [72]:
sum(x, y)

5

In [79]:
def tasu():
    num =20000
    print('The number of TASU students is', num)
def fu_wukari():
    num =3000
    print('The number of FU Wukari students is', num)

def main():
    tasu()
    fu_wukari()
main()

The number of TASU students is 20000
The number of FU Wukari students is 3000

In [83]:
state =input('The state in which my university is located \t ')

The state in which my university is located 	 Taraba

In [84]:
def your_school():
    print("Your school is located in", state, "State")
def their_school():
    print("Their school is located in", state, "State")
    
def main():
    your_school()
    their_school()
main()

Your school is located in Taraba State
Their school is located in Taraba State

In [102]:
def intro():
    print("Convert cup to fluid")
    print("1 cup is equilavent to 8 ounces")
def convert_to_ounce(cups):
    ouc=8*cups
    print("{} cup(s) is equivalent to {} ounces".format(cups, ouc))
    return ouc
cups= int(input("Enter number of cups"))

def main():
        intro()
        convert_to_ounce(cups)

Enter number of cups2

In [103]:
main()

Convert cup to fluid
1 cup is equilavent to 8 ounces
2 cup(s) is equivalent to 16 ounces

In [1]:
def full_name(first, last):
    print("My full name is {} {}.".format(first, last))
def reverse_name(last, first):
    print("My reversed name is {} {}.".format(last, first))
    
first = input("Enter your first name:")
last = input("Enter your last name:")

Enter your first name:Bashidoshi
Enter your last name:Musa

In [3]:
def main():
    full_name(first, last)
    reverse_name(last, first)
main()

My full name is Bashidoshi Musa.
My reversed name is Musa Bashidoshi.

In [ ]:
def simple_intrest(P, r, t):
    I= (P*r*t)/100
    print("The simple interest is: {}".format(I))
    return I
def total_amount(P, I):
    A= P+I
    print("The calculated amount would be: {}".format(A))
    return A
P= int(input("Enter the principal amount:"))
r= int(input("Enter the rate:"))
t= int(input("Enter the time:"))

def main():
    simple_intrest(P, r, t)
    total_amount(P, I)

In [ ]:
main()

In [ ]:
import math as mth
import